In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

matplotlib.style.use('ggplot')

In [4]:
fac = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\facup_v3.csv')

tab = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\league_tables - backup\tables_merged_v1.csv')

In [5]:
fac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16606 entries, 0 to 16605
Data columns (total 14 columns):
match_id      16606 non-null int64
home_team     16606 non-null object
away_team     16606 non-null object
home_score    16274 non-null float64
away_score    16274 non-null float64
round         16606 non-null object
year          16606 non-null int64
date          16606 non-null object
replay        16606 non-null bool
qualifier     16606 non-null bool
stage         16606 non-null float64
winner        13153 non-null object
left          16606 non-null object
right         16606 non-null object
dtypes: bool(2), float64(3), int64(2), object(7)
memory usage: 1.7+ MB

In [6]:
tab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6332 entries, 0 to 6331
Data columns (total 11 columns):
pos     6332 non-null int64
team    6332 non-null object
w       6331 non-null float64
d       6331 non-null float64
l       6331 non-null float64
f       6331 non-null float64
a       6331 non-null float64
pts     6331 non-null float64
pld     6331 non-null float64
year    6332 non-null int64
tier    6332 non-null int64
dtypes: float64(7), int64(3), object(1)
memory usage: 593.6+ KB

In [7]:
tab = tab[tab.year == 2015]

In [8]:
fac = fac[(fac.year == 2015) & (fac.qualifier == False)]

In [9]:
fac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 16334 to 16599
Data columns (total 14 columns):
match_id      153 non-null int64
home_team     153 non-null object
away_team     153 non-null object
home_score    153 non-null float64
away_score    153 non-null float64
round         153 non-null object
year          153 non-null int64
date          153 non-null object
replay        153 non-null bool
qualifier     153 non-null bool
stage         153 non-null float64
winner        123 non-null object
left          153 non-null object
right         153 non-null object
dtypes: bool(2), float64(3), int64(2), object(7)
memory usage: 15.8+ KB

In [10]:
tab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 5794 to 6331
Data columns (total 11 columns):
pos     92 non-null int64
team    92 non-null object
w       92 non-null float64
d       92 non-null float64
l       92 non-null float64
f       92 non-null float64
a       92 non-null float64
pts     92 non-null float64
pld     92 non-null float64
year    92 non-null int64
tier    92 non-null int64
dtypes: float64(7), int64(3), object(1)
memory usage: 8.6+ KB

In [11]:
20 + 24 + 24 + 24

92

In [12]:
fac['team'].unique()

KeyError: 'team'

In [13]:
fac.groupby('stage').get_group(12)

KeyError: 12

In [14]:
fac[fac.home == True].groupby('stage').size()

AttributeError: 'DataFrame' object has no attribute 'home'

In [15]:
from fuzzywuzzy import fuzz

In [16]:
from fuzzywuzzy import process

In [20]:
import Levenshtein

In [17]:
unq = fac['home_team'].str.upper().unique()

In [18]:
tab.team = tab.team.str.upper()

##### Illustrating example of unzipping list of tuples

In [ ]:
tst = pd.Series(np.random.randint(5 , size=5))

In [ ]:
tst

In [ ]:
def square_cube(x):
    return x**2, x**3

result = list(tst.map(square_cube)) #series of tuples, convert to list for illustrative purposes (not neccessary)

result #list of tuples

In [ ]:
zip(result) #With a single sequence argument, zip returns a list of 1-tuples.

In [ ]:
zip(*result) #unpacks list and returns each tuple as an argument for zip

In [ ]:
zip((16, 64), (0, 0), (9, 27), (4, 8), (4, 8)) #so now rather than zip receiving one argument (the list), it receives 5 (tuples)

In [28]:
def match(row):
    nearest = process.extractOne(row, unq)
    return nearest

%time tab['match'], tab['score'] =  zip(*tab['team'].map(match))

Wall time: 1.48 s

In [30]:
tab['team']

5794               BOURNEMOUTH
5795                   WATFORD
5796              NORWICH CITY
5797              MIDDLESBROUGH
5798                  BRENTFORD
5799               IPSWICH TOWN
5800    WOLVERHAMPTON WANDERERS
5801               DERBY COUNTY
5802           BLACKBURN ROVERS
5803            BIRMINGHAM CITY
5804               CARDIFF CITY
5805          CHARLTON ATHLETIC
5806        SHEFFIELD WEDNESDAY
5807          NOTTINGHAM FOREST
5808               LEEDS UNITED
5809          HUDDERSFIELD TOWN
5810                     FULHAM
5811           BOLTON WANDERERS
5812                    READING
5813     BRIGHTON & HOVE ALBION
5814           ROTHERHAM UNITED
5815                  MILLWALL
5816            WIGAN ATHLETIC
5817                 BLACKPOOL
5818              BRISTOL CITY
5819        MILTON KEYNES DONS
5820         PRESTON NORTH END
5821               SWINDON TOWN
5822           SHEFFIELD UNITED
5823               CHESTERFIELD
                 ...
5856              AFC WIMBLEDON
5857                 PORTSMOUTH
5858         ACCRINGTON STANLEY
5859                  YORK CITY
5860           CAMBRIDGE UNITED
5861            CARLISLE UNITED
5862             MANSFIELD TOWN
5863          HARTLEPOOL UNITED
5864           CHELTENHAM TOWN
5865           TRANMERE ROVERS
6312                   CHELSEA
6313            MANCHESTER CITY
6314                    ARSENAL
6315          MANCHESTER UNITED
6316          TOTTENHAM HOTSPUR
6317                  LIVERPOOL
6318                SOUTHAMPTON
6319               SWANSEA CITY
6320                 STOKE CITY
6321             CRYSTAL PALACE
6322                    EVERTON
6323            WEST HAM UNITED
6324       WEST BROMWICH ALBION
6325             LEICESTER CITY
6326           NEWCASTLE UNITED
6327                 SUNDERLAND
6328                ASTON VILLA
6329                 HULL CITY
6330                   BURNLEY
6331       QUEENS PARK RANGERS
Name: team, dtype: object

In [29]:
unq

array(['CONCORD RANGERS', 'MAIDSTONE UNITED', 'ALDERSHOT TOWN',
       'ACCRINGTON STANLEY', 'AFC TELFORD UNITED', 'AFC WIMBLEDON',
       'MANSFIELD TOWN', 'ROCHDALE AFC', 'SHEFFIELD UNITED',
       'SHREWSBURY TOWN', 'SOUTHPORT', 'WESTON SUPER MARE',
       'HAVANT & WATERLOOVILLE', 'FC HALIFAX TOWN', 'BLYTH SPARTANS AFC',
       'BRAINTREE TOWN', 'COVENTRY CITY', 'FOREST GREEN ROVERS',
       'GOSPORT BOROUGH', 'NORTON UNITED', 'PORTSMOUTH', 'STEVENAGE',
       'WREXHAM', 'NOTTS COUNTY', 'BARNET', 'BARNSLEY', 'BASINGSTOKE TOWN',
       'BROMLEY', 'BURY', 'CAMBRIDGE UNITED', 'CHELTENHAM TOWN',
       'CREWE ALEXANDRA', 'DAGENHAM & REDBRIDGE', 'DOVER ATHLETIC',
       'EASTLEIGH', 'GILLINGHAM', 'GRIMSBY TOWN', 'HARTLEPOOL UNITED',
       'LUTON TOWN', 'NORTHAMPTON TOWN', 'OLDHAM ATHLETIC',
       'PETERBOROUGH UNITED', 'PLYMOUTH ARGYLE', 'PORT VALE',
       'SOUTHEND UNITED', 'TRANMERE ROVERS', 'WALSALL', 'YEOVIL TOWN',
       'YORK CITY', 'WARRINGTON TOWN', 'MILTON KEYNES DONS',
       'WORCESTER CITY', 'CHESTER', 'GATESHEAD', 'BRADFORD CITY',
       'BRISTOL CITY', 'SCUNTHORPE UNITED', 'WYCOMBE WANDERERS',
       'COLCHESTER UNITED', 'OXFORD UNITED', 'PRESTON NORTH END',
       'IPSWICH TOWN', 'TOTTENHAM HOTSPUR', 'CHESTERFIELD',
       'WEST HAM UNITED', 'WOLVERHAMPTON WANDERERS', 'EVERTON', 'BURNLEY',
       'QUEENS PARK RANGERS', 'SUNDERLAND AFC', 'ASTON VILLA',
       'MANCHESTER CITY', 'SOUTHAMPTON', 'STOKE CITY', 'CHELSEA',
       'ARSENAL', 'BOLTON WANDERERS', 'BRENTFORD', 'CHARLTON ATHLETIC',
       'DERBY COUNTY', 'DONCASTER ROVERS', 'FULHAM', 'HUDDERSFIELD TOWN',
       'LEICESTER CITY', 'MILLWALL', 'ROTHERHAM UNITED',
       'WEST BROMWICH ALBION', 'CARDIFF CITY', 'READING',
       'BLACKBURN ROVERS', 'MANCHESTER UNITED', 'LIVERPOOL',
       'CRYSTAL PALACE', 'BRIGHTON & HOVE ALBION', 'BIRMINGHAM CITY'], dtype=object)

In [ ]:
tab.groupby('tier').size()

In [ ]:
tab['rank'] = tab['tier'].rank(method='min') + tab['pos']

In [ ]:
tab.plot(x = 'pos', y='rank', kind='scatter')

plt.show()

In [ ]:
fac.drop(['match_id','year_id','round_id','date'], axis = 1, inplace=True)

In [ ]:
fac.team = fac.team.str.upper()

In [ ]:
fac.head()

In [ ]:
tab.drop(['w','d','l','f','a','pts','pld'], axis = 1, inplace=True)

In [ ]:
tab.head()

In [ ]:
fac.drop(['year','team'], axis = 1, inplace=True)

In [ ]:
fac = fac[fac.home == True]

In [ ]:
fac.head()

In [ ]:
fac[['home_team','away_team']] = fac[['home_team','away_team']].apply(lambda x: x.str.upper())

In [ ]:
fac.head()

In [ ]:
merged = pd.merge(fac,tab, how='inner', left_on='home_team', right_on='match'); merged.info()

In [ ]:
fac['round'].value_counts()

In [ ]:
merged['round'].value_counts()

In [ ]:
merged2 = pd.merge(merged,tab, how='inner', left_on='away_team', right_on='match'); merged2.info()

In [ ]:
merged2.drop(['score_x','score_y','pos_x', 'pos_y', 'tier_x', 'tier_y', 'stage','qualifier','home'], axis = 1, inplace=True)

In [ ]:
merged2.drop(['year_x','year_y'], axis = 1, inplace=True)

In [ ]:
merged2.drop(['match_x','match_y'], axis = 1, inplace=True)

In [ ]:
merged2.head()

In [ ]:
merged2['rank_diff'] = (merged2['rank_x'] - merged2['rank_y']).abs()

In [ ]:
merged2.head()

In [ ]:
merged2.sort_values(['stage_r','rank_diff'], ascending = [True,False], inplace=True)

merged2.reset_index(drop=True, inplace=True)

In [ ]:
merged2['rank_diff'].plot(kind='bar', figsize=(15,6), width = 1, color = 'steelblue')

In [ ]:
merged2['bottom'] = merged2[['rank_x','rank_y']].min(axis=1)

merged2.info()

In [ ]:
fig, ax = plt.subplots(figsize=(15, 5)) #returns a tuple with a figure object and axes object(s)

ax.bar(merged2.index, merged2['rank_diff'], width = 1, color = 'steelblue', bottom=merged2['bottom']) #create bar object on axes

plt.gca().invert_yaxis() #reverse yaxis of current axes object

plt.show()