In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

matplotlib.style.use('ggplot')

In [4]:
fac = pd.read_csv('facup_v1.csv')

In [5]:
fac.describe()

,away_score,home_score,match_id,qualifier,replay,round_id,stage,year,year_id
count,68616.000000,68616.000000,68616.000000,68616,68616,68616.000000,68616.000000,68616.000000,68616.000000
mean,1.467850,2.077752,61858.030446,0.757374,0.177961,11231.718899,3.839702,1961.331351,71718.645199
std,1.456809,1.870874,65390.837640,0.428674,0.382483,945.389836,2.693933,36.915893,1340.741523
min,0.000000,0.000000,0.000000,False,False,0.000000,1.000000,1872.000000,71040.000000
25%,0.000000,1.000000,32000.750000,1,0,10975.000000,2.000000,1930.000000,71268.000000
50%,1.000000,2.000000,49217.500000,1,0,11369.000000,3.000000,1966.000000,71297.000000
75%,2.000000,3.000000,66396.250000,1,0,11779.000000,5.000000,1994.000000,71329.000000
max,14.000000,26.000000,434659.000000,True,True,12829.000000,14.000000,2015.000000,75823.000000

In [6]:
fac[fac.home_score == 26]

,away_score,away_team,date,home_score,home_team,match_id,qualifier,replay,round,round_id,stage,year,year_id
1449,0,Hyde,15.10.87,26,Preston North End,17366,False,False,First Round Proper,10784,1,1888,71250

26 - 0 is the FA Cup record for heaviest defeat! [link](http://news.bbc.co.uk/sport1/hi/funny_old_game/1272025.stm)