In [1]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import cufflinks as cf

In [2]:
fac = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\00_fa_cup\facup_v3.csv')

Dropping years we will not use in merge, 1952 onwards has a consistent number of matches in each round and has some post-WW2 recovery time for teams/league to settle

In [3]:
fac = fac[fac.year > 1951]

Creating new dataframe concatenating all teams into a single column

In [4]:
home = fac[['home_team','round','year','stage']].rename(columns={'home_team':'team'})
away = fac[['away_team','round','year','stage']].rename(columns={'away_team':'team'})

teams = pd.concat([home,away], ignore_index = True)

Reducing dataframe so we keep only one row per year/team combination from the first stage that team appears in that particular year e.g. 

ARSENAL THIRD ROUND PROPER 1952 6 

(6 is the first stage arsenal appeared in 1952, third round proper)

In [5]:
first = teams.loc[teams.groupby(['year','team'])['stage'].idxmax()]

first.head()

                     team               round  year  stage
19     ACCRINGTON STANLEY  FIRST ROUND PROPER  1952      8
10242     AFC BOURNEMOUTH  FIRST ROUND PROPER  1952      8
13              ALDERSHOT  FIRST ROUND PROPER  1952      8
10311             ARSENAL  THIRD ROUND PROPER  1952      6
10310         ASTON VILLA  THIRD ROUND PROPER  1952      6

#### Saving dataframe containing one row per team/year for merging

In [13]:
first.to_csv('facup_teams.csv', index=False)

In [6]:
first_count = first.groupby(['year','stage']).size().unstack()  #counting the number of teams entering each stage in each year 

first_count.head()

stage   6   8
year
1952   44  80
1953   44  80
1954   44  80
1955   44  80
1956   44  80

In [7]:
first_count.iplot(kind = 'line', dimensions = (900,500))

Since 1952 there are consistently 80 teams entering in 1st round (stage 8) and 44 entering in 3rd round (stage 6).

In 2000 there were only 43 'new' teams entering 3rd as Manchester United elected to play in the Club World Cup instead [link](https://en.wikipedia.org/wiki/1999%E2%80%932000_FA_Cup), however this space was filled by 'Darlington' despite losing their 2nd round fixture.

Now checking for consistency in number of teams in top 4 divisions between 1952-2015.

In [8]:
tab = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\01_league_tables\fl_pl_join_v1.csv')

tab = tab[tab.year > 1951]

tab.head()

     pos               team   w   d   l   f   a  pts  pld  year  tier
444    1  MANCHESTER UNITED  23  11   8  95  52   57   42  1952    11
445    2  TOTTENHAM HOTSPUR  22   9  11  76  51   53   42  1952    11
446    3            ARSENAL  21  11  10  80  61   53   42  1952    11
447    4         PORTSMOUTH  20   8  14  68  58   48   42  1952    11
448    5   BOLTON WANDERERS  19  10  13  65  61   48   42  1952    11

In [9]:
league_count = tab.groupby(['year','tier']).size().unstack()

league_count.head()

tier  11  21  31  32  41
year
1952  22  22  24  24 NaN
1953  22  22  24  24 NaN
1954  22  22  24  24 NaN
1955  22  22  24  24 NaN
1956  22  22  24  24 NaN

In [10]:
league_count.iplot(kind = 'bar', barmode = 'stack', bargap = 0.4,  dimensions = (900,500))

Investigating years in which there are more than 44 teams in the top two tiers as we know that there are only 44 teams entering in at stage 6

In [11]:
fac_1992 = first[(first.year == 1992) & (first.stage == 6)]
tab_1992 = tab[(tab.year == 1992) & (tab.tier < 30)].sort_values('team')

In [12]:
merge_1992 = pd.merge(fac_1992, tab_1992, how='outer')
merge_1992

,team,round,year,stage,pos,w,d,l,f,a,pts,pld,tier
0,ARSENAL,THIRD ROUND PROPER,1992,6,4,19,15,8,81,46,72,42,11
1,ASTON VILLA,THIRD ROUND PROPER,1992,6,7,17,9,16,48,44,60,42,11
2,BARNSLEY,THIRD ROUND PROPER,1992,6,16,16,11,19,45,57,59,46,21
3,BLACKBURN ROVERS,THIRD ROUND PROPER,1992,6,6,21,11,14,70,53,74,46,21
4,BRIGHTON & HOVE ALBION,THIRD ROUND PROPER,1992,6,23,12,11,23,56,77,47,46,21
5,BRISTOL CITY,THIRD ROUND PROPER,1992,6,17,13,15,18,55,71,54,46,21
6,BRISTOL ROVERS,THIRD ROUND PROPER,1992,6,13,16,14,16,60,63,62,46,21
7,CAMBRIDGE UNITED,THIRD ROUND PROPER,1992,6,5,19,17,10,65,47,74,46,21
8,CHARLTON ATHLETIC,THIRD ROUND PROPER,1992,6,7,20,11,15,54,48,71,46,21
9,CHELSEA,THIRD ROUND PROPER,1992,6,14,13,14,15,50,60,53,42,11
10,COVENTRY CITY,THIRD ROUND PROPER,1992,6,19,11,11,20,35,44,44,42,11
11,CRYSTAL PALACE,THIRD ROUND PROPER,1992,6,10,14,15,13,53,61,57,42,11
12,DERBY COUNTY,THIRD ROUND PROPER,1992,6,3,23,9,14,69,51,78,46,21
13,EVERTON,THIRD ROUND PROPER,1992,6,12,13,14,15,52,51,53,42,11
14,IPSWICH TOWN,THIRD ROUND PROPER,1992,6,1,24,12,10,70,50,84,46,21
15,LEEDS UNITED AFC,THIRD ROUND PROPER,1992,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,LEICESTER CITY,THIRD ROUND PROPER,1992,6,4,23,8,15,62,55,77,46,21
17,LIVERPOOL,THIRD ROUND PROPER,1992,6,6,16,16,10,47,40,64,42,11
18,LUTON TOWN,THIRD ROUND PROPER,1992,6,20,10,12,20,38,71,42,42,11
19,MANCHESTER CITY,THIRD ROUND PROPER,1992,6,5,20,10,12,61,48,70,42,11
20,MANCHESTER UNITED,THIRD ROUND PROPER,1992,6,2,21,15,6,63,33,78,42,11
21,MIDDLESBROUGH,THIRD ROUND PROPER,1992,6,2,23,11,12,58,41,80,46,21
22,MILLWALL,THIRD ROUND PROPER,1992,6,15,17,10,19,64,71,61,46,21
23,NEWCASTLE UNITED,THIRD ROUND PROPER,1992,6,20,13,13,20,66,84,52,46,21
24,NORWICH CITY,THIRD ROUND PROPER,1992,6,18,11,12,19,47,63,45,42,11
25,NOTTINGHAM FOREST,THIRD ROUND PROPER,1992,6,8,16,11,15,60,58,59,42,11
26,NOTTS COUNTY,THIRD ROUND PROPER,1992,6,21,10,10,22,40,62,40,42,11
27,OLDHAM ATHLETIC,THIRD ROUND PROPER,1992,6,17,14,9,19,63,67,51,42,11
28,OXFORD UNITED,THIRD ROUND PROPER,1992,6,21,13,11,22,66,73,50,46,21
29,PLYMOUTH ARGYLE,THIRD ROUND PROPER,1992,6,22,13,9,24,42,64,48,46,21
30,PORT VALE,THIRD ROUND PROPER,1992,6,24,10,15,21,42,59,45,46,21
31,PORTSMOUTH,THIRD ROUND PROPER,1992,6,9,19,12,15,65,51,69,46,21
32,QUEENS PARK RANGERS,THIRD ROUND PROPER,1992,6,11,12,18,12,48,47,54,42,11
33,SHEFFIELD UNITED,THIRD ROUND PROPER,1992,6,9,16,9,17,65,63,57,42,11
34,SHEFFIELD WEDNESDAY,THIRD ROUND PROPER,1992,6,3,21,12,9,62,49,75,42,11
35,SOUTHAMPTON,THIRD ROUND PROPER,1992,6,16,14,10,18,39,55,52,42,11
36,SOUTHEND UNITED,THIRD ROUND PROPER,1992,6,12,17,11,18,61,61,62,46,21
37,SUNDERLAND AFC,THIRD ROUND PROPER,1992,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,SWINDON TOWN,THIRD ROUND PROPER,1992,6,8,18,15,13,69,55,69,46,21
39,TOTTENHAM HOTSPUR,THIRD ROUND PROPER,1992,6,15,15,7,20,58,63,52,42,11
40,WATFORD,THIRD ROUND PROPER,1992,6,10,18,11,17,51,48,65,46,21
41,WEST HAM UNITED,THIRD ROUND PROPER,1992,6,22,9,11,22,37,59,38,42,11
42,WIMBLEDON,THIRD ROUND PROPER,1992,6,13,13,14,15,53,53,53,42,11
43,WOLVERHAMPTON WANDERERS,THIRD ROUND PROPER,1992,6,11,18,10,18,61,53,64,46,21
44,GRIMSBY TOWN,NaN,1992,NaN,19,14,11,21,47,62,53,46,21
45,LEEDS UNITED,NaN,1992,NaN,1,22,16,4,74,37,82,42,11
46,SUNDERLAND,NaN,1992,NaN,18,14,11,21,61,65,53,46,21
47,TRANMERE ROVERS,NaN,1992,NaN,14,14,19,13,56,56,61,46,21

Between 1992-1995 there is some inconsistency in which stage of the FA Cup teams from each tier enter.

It is likely that as the leagues were restructured some teams were enterered into stages earlier than the rest of the teams in their tier. Worth being aware of this when we come to merge!