In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline
matplotlib.style.use('ggplot')

In [2]:
fl = pd.read_csv('tables_merged_v1.csv')

In [3]:
fl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6332 entries, 0 to 6331
Data columns (total 11 columns):
pos     6332 non-null int64
team    6332 non-null object
w       6331 non-null float64
d       6331 non-null float64
l       6331 non-null float64
f       6331 non-null float64
a       6331 non-null float64
pts     6331 non-null float64
pld     6331 non-null float64
year    6332 non-null int64
tier    6332 non-null int64
dtypes: float64(7), int64(3), object(1)
memory usage: 593.6+ KB

In [4]:
nl = pd.read_csv('nonleague_1_v1.csv')

In [5]:
nl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3510 entries, 0 to 3509
Data columns (total 12 columns):
a         3510 non-null int64
league    3510 non-null object
d         3510 non-null int64
f         3510 non-null int64
year      3510 non-null int64
l         3510 non-null int64
pos       3510 non-null int64
pld       3510 non-null int64
w         3510 non-null int64
team      3510 non-null object
tier      3510 non-null int64
pts       3510 non-null int64
dtypes: int64(10), object(2)
memory usage: 356.5+ KB

In [6]:
merge = pd.concat([fl, nl], axis=0)

In [7]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9842 entries, 0 to 3509
Data columns (total 12 columns):
a         9841 non-null float64
d         9841 non-null float64
f         9841 non-null float64
l         9841 non-null float64
league    3510 non-null object
pld       9841 non-null float64
pos       9842 non-null int64
pts       9841 non-null float64
team      9842 non-null object
tier      9842 non-null int64
w         9841 non-null float64
year      9842 non-null int64
dtypes: float64(7), int64(3), object(2)
memory usage: 999.6+ KB

In [8]:
merge.reset_index(drop=True, inplace=True)

In [9]:
merge = merge[['pos','team','pld','w','d','l','f','a', 'pts','year','tier','league']]

In [10]:
merge.team = merge.team.str.upper()

In [11]:
merge.head()

,pos,team,pld,w,d,l,f,a,pts,year,tier,league
0,1,LIVERPOOL,42,25,7,10,84,52,57,1947,11,NaN
1,2,MANCHESTER UNITED,42,22,12,8,95,54,56,1947,11,NaN
2,3,WOLVERHAMPTON WANDERERS,42,25,6,11,98,56,56,1947,11,NaN
3,4,STOKE CITY,42,24,7,11,90,53,55,1947,11,NaN
4,5,BLACKPOOL,42,22,6,14,71,70,50,1947,11,NaN

In [12]:
merge.to_csv('table_archive_v1.csv', index=False)

In [13]:
nl.year.min()

2012

In [14]:
merge.sort_values('tier', inplace=True)

In [15]:
merge.head()

      pos               team  pld   w   d   l   f   a  pts  year  tier league
0       1          LIVERPOOL   42  25   7  10  84  52   57  1947    11    NaN
3116    6        SOUTHAMPTON   42  20  10  12  76  56   50  1981    11    NaN
3117    7  NOTTINGHAM FOREST   42  19  12  11  62  44   50  1981    11    NaN
3118    8  MANCHESTER UNITED   42  15  18   9  51  36   48  1981    11    NaN
3119    9       LEEDS UNITED   42  17  10  15  39  47   44  1981    11    NaN

In [16]:
merge.groupby(['year','team']).size().value_counts()

1    9826
2       8
dtype: int64

In [17]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9842 entries, 0 to 9841
Data columns (total 12 columns):
pos       9842 non-null int64
team      9842 non-null object
pld       9841 non-null float64
w         9841 non-null float64
d         9841 non-null float64
l         9841 non-null float64
f         9841 non-null float64
a         9841 non-null float64
pts       9841 non-null float64
year      9842 non-null int64
tier      9842 non-null int64
league    3510 non-null object
dtypes: float64(7), int64(3), object(2)
memory usage: 999.6+ KB

In [18]:
merge['dupes'] = merge.groupby(['year','team'])['tier'].rank()

In [22]:
merge[merge['dupes'] > 1]

,pos,team,pld,w,d,l,f,a,pts,year,tier,league,dupes
7089,12,WESTFIELD,34,9,10,15,58,73,37,2012,1012,Southern Combination Div One,2
7923,5,WESTFIELD,34,17,7,10,67,56,58,2013,1012,Southern Combination Div One,2
9652,12,WESTFIELD,28,7,8,13,48,61,29,2015,1012,Southern Combination Div One,2
8733,9,WESTFIELD,32,12,5,15,55,50,38,2014,1012,Southern Combination Div One,2
7150,11,WELLINGTON,42,17,7,18,79,83,58,2012,1015,West Midlands Regional Premier,2
8928,8,WELLINGTON,42,19,8,15,86,87,65,2014,1015,West Midlands Regional Premier,2
8051,15,WELLINGTON,41,14,5,22,64,93,47,2013,1015,West Midlands Regional Premier,2
9782,11,WELLINGTON,42,16,11,15,83,71,59,2015,1015,West Midlands Regional Premier,2

In [20]:
merge[merge.team == 'WESTFIELD']

,pos,team,pld,w,d,l,f,a,pts,year,tier,league,dupes
9482,14,WESTFIELD,40,12,11,17,61,68,47,2015,913,Combined Counties Premier,1
8494,4,WESTFIELD,42,24,5,13,72,51,77,2014,913,Combined Counties Premier,1
6793,8,WESTFIELD,34,16,4,14,64,65,52,2012,1001,Combined Counties Div One,1
7710,3,WESTFIELD,34,24,3,7,67,42,75,2013,1001,Combined Counties Div One,1
7089,12,WESTFIELD,34,9,10,15,58,73,37,2012,1012,Southern Combination Div One,2
7923,5,WESTFIELD,34,17,7,10,67,56,58,2013,1012,Southern Combination Div One,2
9652,12,WESTFIELD,28,7,8,13,48,61,29,2015,1012,Southern Combination Div One,2
8733,9,WESTFIELD,32,12,5,15,55,50,38,2014,1012,Southern Combination Div One,2