In [157]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import cufflinks as cf

In [158]:
nl_fac = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\02_merge\nleague_teams_v1.csv')
nl_tab = pd.read_csv(r'C:\Users\David\Python\scrapy\facup\01_league_tables\nonleague_1952-89_v3.csv')

In [159]:
# restricting missing teams to range of scraped tables

nl_fac = nl_fac[nl_fac.year < 1990]

In [160]:
nl_fac.head()

               team  year               round  stage
0  AYLESBURY UNITED  1952  FIRST ROUND PROPER      8
1       BANGOR CITY  1952  FIRST ROUND PROPER      8
2   BARNSTAPLE TOWN  1952  FIRST ROUND PROPER      8
3        BARRY TOWN  1952  FIRST ROUND PROPER      8
4      BEDFORD TOWN  1952  FIRST ROUND PROPER      8

In [161]:
nl_tab.head()

   year  pos           league        team
0  1952    1  ATHENIAN LEAGUE  WEALDSTONE
1  1952    2  ATHENIAN LEAGUE      HENDON
2  1952    3  ATHENIAN LEAGUE     BROMLEY
3  1952    4  ATHENIAN LEAGUE   SUTTON U.
4  1952    5  ATHENIAN LEAGUE       HAYES

In [162]:
nl_fac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1216 entries, 0 to 1215
Data columns (total 4 columns):
team     1216 non-null object
year     1216 non-null int64
round    1216 non-null object
stage    1216 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 47.5+ KB

In [163]:
nl_tab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32533 entries, 0 to 32532
Data columns (total 4 columns):
year      32533 non-null int64
pos       32533 non-null int64
league    32533 non-null object
team      32533 non-null object
dtypes: int64(2), object(2)
memory usage: 1.2+ MB

####  Merge test 1

In [164]:
nl_merge = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

#### Plotting missing matches, should be 32 matches per year

In [165]:
missing_teams = nl_merge[nl_merge.pos.isnull()].copy()

In [166]:
mt_plot = missing_teams.year.value_counts().sort_index().reindex()

In [167]:
mt_plot.iplot(kind='bar', dimensions = (700,400))

In [168]:
missing_teams = missing_teams[missing_teams.year < 1990]

#### Only 1962 has 32 matches, apply fuzzy string matching to try and find near matches

In [169]:
from fuzzywuzzy import process
import fuzzywuzzy
import Levenshtein

In [170]:
def near_match(row):
    return process.extractOne(row['team'], nl_tab[nl_tab.year == row['year']]['team'].values) # only search specific year
     #return tuple containing (nearest match, score)
    
%time missing_teams['match'], missing_teams['score'] = zip(*missing_teams.apply(near_match, axis = 1))

Wall time: 19.6 s

In [171]:
missing_teams[missing_teams.score > 90].sort_values('score')

,year,pos,league,team,round,stage,match,score
1260,1953,NaN,NaN,PETERBOROUGH UNITED,FIRST ROUND PROPER,8,PETERBOROUGH UTD.,91
1262,1953,NaN,NaN,WALTHAMSTOW AVENUE,FIRST ROUND PROPER,8,WALTHAMSTOW AVE.,91
1279,1954,NaN,NaN,PETERBOROUGH UNITED,FIRST ROUND PROPER,8,PETERBOROUGH UTD.,91
1281,1954,NaN,NaN,WALTHAMSTOW AVENUE,FIRST ROUND PROPER,8,WALTHAMSTOW AVE.,91
1298,1955,NaN,NaN,WALTHAMSTOW AVENUE,FIRST ROUND PROPER,8,WALTHAMSTOW AVE.,91
1377,1976,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1373,1975,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1383,1978,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1387,1979,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1328,1964,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM UTD.,93
1391,1980,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1376,1975,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM UTD,93
1386,1978,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING AND MITCHAM UNITED,95
1393,1980,NaN,NaN,LEYTONSTONE/ILFORD,FIRST ROUND PROPER,8,LEYTONSTONE & ILFORD,95
1402,1982,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W.,95
1408,1984,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1411,1985,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1413,1985,NaN,NaN,KING'S LYNN,FIRST ROUND PROPER,8,KINGS LYNN,95
1417,1985,NaN,NaN,V.S. RUGBY,FIRST ROUND PROPER,8,V.S.RUGBY,95
1418,1985,NaN,NaN,WINDSOR & ETON,FIRST ROUND PROPER,8,WINDSOR AND ETON,95
1419,1986,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1399,1981,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1382,1977,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1254,1953,NaN,NaN,HEREFORD UNITED,FIRST ROUND PROPER,8,HEREFORD UNITED RES.,95
1422,1987,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1255,1953,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1256,1953,NaN,NaN,KIDDERMINSTER HARRIERS,FIRST ROUND PROPER,8,KIDDERMINSTER HARRIERS RES.,95
1264,1953,NaN,NaN,YEOVIL TOWN,FIRST ROUND PROPER,8,YEOVIL TOWN RES.,95
1272,1954,NaN,NaN,HEREFORD UNITED,FIRST ROUND PROPER,8,HEREFORD UNITED RES.,95
1274,1954,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W.,95
1283,1954,NaN,NaN,YEOVIL TOWN,FIRST ROUND PROPER,8,YEOVIL TOWN RES.,95
1380,1976,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1291,1955,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1307,1957,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1316,1961,NaN,NaN,MACCLESFIELD TOWN,FIRST ROUND PROPER,8,MACCLESFIELD,95
1332,1965,NaN,NaN,MACCLESFIELD TOWN,FIRST ROUND PROPER,8,MACCLESFIELD,95
1360,1972,NaN,NaN,BASINGSTOKE TOWN,FIRST ROUND PROPER,8,BASINGSTOKE,95
1426,1988,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1397,1981,NaN,NaN,ADDLESTONE & WEYBRIDGE T,FIRST ROUND PROPER,8,ADDLESTONE & WEYBRIDGE,96
1352,1969,NaN,NaN,ST ALBANS CITY,FIRST ROUND PROPER,8,ST. ALBANS CITY,97
1401,1982,NaN,NaN,DORCHESTER TOWN,FIRST ROUND PROPER,8,DORCHESTER TOWN.,100
1403,1982,NaN,NaN,LEYTONSTONE/ILFORD,FIRST ROUND PROPER,8,LEYTONSTONE-ILFORD,100
1404,1982,NaN,NaN,MOSSLEY,FIRST ROUND PROPER,8,MOSSLEY.,100
1406,1982,NaN,NaN,WORKINGTON,FIRST ROUND PROPER,8,WORKINGTON.,100
1321,1963,NaN,NaN,RHYL,FIRST ROUND PROPER,8,RHYL.,100
1400,1982,NaN,NaN,BEDFORD TOWN,FIRST ROUND PROPER,8,BEDFORD TOWN.,100

Checking that no missing FA cup teams end with UTD. then then replacing UTD. with UNITED for non-league teams

In [172]:
nl_fac[nl_fac.team.str.contains('UTD\.$', regex=True)].team.unique()

array([], dtype=object)

In [173]:
nl_tab.team = nl_tab.team.str.replace('UTD\.$', 'UNITED')

Checking that no missing FA cup teams end with AVE. then then replacing AVE. with AVENUE for non-league teams

In [174]:
nl_fac[nl_fac.team.str.contains('AVE\.$', regex=True)].team.unique()

array([], dtype=object)

In [175]:
nl_tab.team = nl_tab.team.str.replace('AVE\.$', 'AVENUE')

Checking that no missing FA cup teams end . then then replacing . with '' for non-league teams

In [176]:
nl_fac[nl_fac.team.str.contains('\.$', regex=True)].team.unique()

array([], dtype=object)

In [177]:
nl_tab.team = nl_tab.team.str.replace('\.$', '')

#### Merge test 2

In [178]:
nl_merge2 = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

In [179]:
missing_teams2 = nl_merge2[nl_merge2.pos.isnull()].copy()

In [180]:
mt_plot2 = missing_teams2.year.value_counts().sort_index().reindex()

In [181]:
#making dataframe which join missing teams from 1st and 2nd merge

mt_plot_join = pd.DataFrame({'mt_plot':mt_plot, 'mt_plot2':mt_plot2})

mt_plot_join.iplot(kind='bar', barmode='overlay', dimensions = (700,400))

In [182]:
%time missing_teams2['match'], missing_teams2['score'] = zip(*missing_teams2.apply(near_match, axis = 1))

missing_teams2[missing_teams2.score > 90].sort_values('score')

Wall time: 17.2 s

,year,pos,league,team,round,stage,match,score
1391,1978,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1384,1975,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM UTD,93
1381,1975,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1395,1979,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1399,1980,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1385,1976,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1394,1978,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING AND MITCHAM UNITED,95
1401,1980,NaN,NaN,LEYTONSTONE/ILFORD,FIRST ROUND PROPER,8,LEYTONSTONE & ILFORD,95
1270,1953,NaN,NaN,HEREFORD UNITED,FIRST ROUND PROPER,8,HEREFORD UNITED RES,95
1412,1984,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1415,1985,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1417,1985,NaN,NaN,KING'S LYNN,FIRST ROUND PROPER,8,KINGS LYNN,95
1421,1985,NaN,NaN,V.S. RUGBY,FIRST ROUND PROPER,8,V.S.RUGBY,95
1422,1985,NaN,NaN,WINDSOR & ETON,FIRST ROUND PROPER,8,WINDSOR AND ETON,95
1423,1986,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1408,1982,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1407,1981,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1390,1977,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1388,1976,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1271,1953,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1272,1953,NaN,NaN,KIDDERMINSTER HARRIERS,FIRST ROUND PROPER,8,KIDDERMINSTER HARRIERS RES,95
1278,1953,NaN,NaN,YEOVIL TOWN,FIRST ROUND PROPER,8,YEOVIL TOWN RES,95
1286,1954,NaN,NaN,HEREFORD UNITED,FIRST ROUND PROPER,8,HEREFORD UNITED RES,95
1288,1954,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1294,1954,NaN,NaN,YEOVIL TOWN,FIRST ROUND PROPER,8,YEOVIL TOWN RES,95
1426,1987,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1430,1988,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1317,1957,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1326,1961,NaN,NaN,MACCLESFIELD TOWN,FIRST ROUND PROPER,8,MACCLESFIELD,95
1340,1965,NaN,NaN,MACCLESFIELD TOWN,FIRST ROUND PROPER,8,MACCLESFIELD,95
1368,1972,NaN,NaN,BASINGSTOKE TOWN,FIRST ROUND PROPER,8,BASINGSTOKE,95
1302,1955,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1405,1981,NaN,NaN,ADDLESTONE & WEYBRIDGE T,FIRST ROUND PROPER,8,ADDLESTONE & WEYBRIDGE,96
1360,1969,NaN,NaN,ST ALBANS CITY,FIRST ROUND PROPER,8,ST. ALBANS CITY,97
1409,1982,NaN,NaN,LEYTONSTONE/ILFORD,FIRST ROUND PROPER,8,LEYTONSTONE-ILFORD,100

#### Checking for reserve leagues

Want to drop any leagues with RES in the title and reserve teams cannot qualify for FA Cup

First finding any current matches that are matched to a team from a reserve league and don't have multiple matches

i.e. any team where there is a reserve team matched but we have no match for the first team

In [183]:
nl_merge2.groupby(['year', 'team']).filter(lambda x: (len(x) < 2) & (x['league'].str.contains('RES', regex=True)).any())

,year,pos,league,team,round,stage
1151,1986,2,RESERVE TEAM FOOTBALL - ESSEX & HERTS BORDER C...,LEYTON-WINGATE,FIRST ROUND PROPER,8

In [184]:
nl_tab[(nl_tab.team.str.contains('LEYTON')) & (nl_tab.year == 1986)]

,year,pos,league,team
23516,1986,6,ISTHMIAN LEAGUE DIVISION 1,LEYTON WINGATE
23522,1986,12,ISTHMIAN LEAGUE DIVISION 1,LEYTONSTONE & ILFORD
24251,1986,11,THE OLD BOYS AMATEUR FOOTBALL LEAGUE SENIOR DI...,LEYTON COUNTY O.B
24292,1986,2,RESERVE TEAM FOOTBALL - ESSEX & HERTS BORDER C...,LEYTON-WINGATE

It should be safe to drop ALL reserve leagues as real LEYTON-WINGATE team exists in ISTHMIAN league and match will be made later

First extracting the strings containing RES in the league names to check they all refer to reserve leagues

In [185]:
nl_tab.league.str.extract('(RES.*)').unique()

array([nan, 'RESERVE TEAM COMPETITION MIDDLESEX BORDER LEAGUE',
       'RESERVE TEAM COMPETITIONS SUBURBAN LEAGUE NORTH',
       'RESERVE TEAM COMPETITION SUBURBAN LEAGUE SOUTH',
       'REST COMBINATION LEAGUE', 'RESERVES DIVISION 1',
       'RESERVE TEAM FOOTBALL - ESSEX & HERTS BORDER COMBINATION EASTERN DIVISION',
       'RESERVE TEAM FOOTBALL - ESSEX & HERTS BORDER COMBINATION WESTERN DIVISION',
       'RESERVE TEAM FOOTBALL - MIDDLESEX BORDER COMBINATION',
       'RESERVE TEAM FOOTBALL - SURBURBAN LEAGUE NORTH',
       'RESERVE TEAM FOOTBALL - SURBURBAN LEAGUE SOUTH',
       'RESERVE DIVISION', 'RESERVE TEAM FOOTBALL - SURBURBAN LEAGUE WEST',
       'RESERVE DIVISION ONE', 'RESERVE DIVISION TWO'], dtype=object)

Need to preserve 'REST COMBINATION LEAGUE' by looking for 'RESERVE' rather than 'RES'

#### Dropping reserve leagues

In [186]:
nl_tab = nl_tab[~nl_tab.league.str.contains('RESERVE', regex=True)]

#### Checking for remaining 'reserve' teams

Now checking for teams containing RES in title in FA cup teams

In [187]:
nl_fac[nl_fac.team.str.contains(' RES', regex=True)]

Empty DataFrame
Columns: [team, year, round, stage]
Index: []

Now checking for teams containing RES in title in Non league tables

In [188]:
nl_tab.team.str.extract('( RES.*)').unique()

array([nan, ' RES', ' RESERVES', ' RESERVE', ' RESERBES', ' RESEARCH',
       ' RESERVES OB'], dtype=object)

No FA cup teams contain RES (see above) so happy to drop RESEARCH also

#### Dropping reserve teams

In [189]:
nl_tab = nl_tab[~nl_tab.team.str.contains(' RES', regex=True)]

In [190]:
%time missing_teams2['match'], missing_teams2['score'] = zip(*missing_teams2.apply(near_match, axis = 1))

missing_teams2[missing_teams2.score > 90].sort_values('score')

Wall time: 15.2 s

,year,pos,league,team,round,stage,match,score
1381,1975,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1384,1975,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM UTD,93
1385,1976,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1391,1978,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1399,1980,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1395,1979,NaN,NaN,AP LEAMINGTON,FIRST ROUND PROPER,8,A.P. LEAMINGTON,93
1271,1953,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1423,1986,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1422,1985,NaN,NaN,WINDSOR & ETON,FIRST ROUND PROPER,8,WINDSOR AND ETON,95
1421,1985,NaN,NaN,V.S. RUGBY,FIRST ROUND PROPER,8,V.S.RUGBY,95
1417,1985,NaN,NaN,KING'S LYNN,FIRST ROUND PROPER,8,KINGS LYNN,95
1415,1985,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1412,1984,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1408,1982,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1407,1981,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1401,1980,NaN,NaN,LEYTONSTONE/ILFORD,FIRST ROUND PROPER,8,LEYTONSTONE & ILFORD,95
1394,1978,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING AND MITCHAM UNITED,95
1390,1977,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1388,1976,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1368,1972,NaN,NaN,BASINGSTOKE TOWN,FIRST ROUND PROPER,8,BASINGSTOKE,95
1340,1965,NaN,NaN,MACCLESFIELD TOWN,FIRST ROUND PROPER,8,MACCLESFIELD,95
1326,1961,NaN,NaN,MACCLESFIELD TOWN,FIRST ROUND PROPER,8,MACCLESFIELD,95
1317,1957,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM,95
1302,1955,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1288,1954,NaN,NaN,HORDEN CW,FIRST ROUND PROPER,8,HORDEN C.W,95
1426,1987,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1430,1988,NaN,NaN,FARNBOROUGH,FIRST ROUND PROPER,8,FARNBOROUGH TOWN,95
1405,1981,NaN,NaN,ADDLESTONE & WEYBRIDGE T,FIRST ROUND PROPER,8,ADDLESTONE & WEYBRIDGE,96
1360,1969,NaN,NaN,ST ALBANS CITY,FIRST ROUND PROPER,8,ST. ALBANS CITY,97
1409,1982,NaN,NaN,LEYTONSTONE/ILFORD,FIRST ROUND PROPER,8,LEYTONSTONE-ILFORD,100

After dropping reserve teams I am happy that all the teams with near matches (>90) in this list are correct so creating a series to map the names in nl_tab to the actual names in nl_fac

In [191]:
miss_90 = missing_teams2[missing_teams2.score > 90].sort_values('score')

In [192]:
name_map1 = pd.Series(data=miss_90.team.values, index=miss_90.match.values)

name_map1

A.P. LEAMINGTON                          AP LEAMINGTON
TOOTING & MITCHAM UTD         TOOTING & MITCHAM UNITED
A.P. LEAMINGTON                          AP LEAMINGTON
A.P. LEAMINGTON                          AP LEAMINGTON
A.P. LEAMINGTON                          AP LEAMINGTON
A.P. LEAMINGTON                          AP LEAMINGTON
HORDEN C.W                                   HORDEN CW
FARNBOROUGH TOWN                           FARNBOROUGH
WINDSOR AND ETON                        WINDSOR & ETON
V.S.RUGBY                                   V.S. RUGBY
KINGS LYNN                                 KING'S LYNN
FARNBOROUGH TOWN                           FARNBOROUGH
FARNBOROUGH TOWN                           FARNBOROUGH
HORDEN C.W                                   HORDEN CW
FARNBOROUGH TOWN                           FARNBOROUGH
LEYTONSTONE & ILFORD                LEYTONSTONE/ILFORD
TOOTING AND MITCHAM UNITED    TOOTING & MITCHAM UNITED
TOOTING & MITCHAM             TOOTING & MITCHAM UNITED
TOOTING & MITCHAM             TOOTING & MITCHAM UNITED
BASINGSTOKE                           BASINGSTOKE TOWN
MACCLESFIELD                         MACCLESFIELD TOWN
MACCLESFIELD                         MACCLESFIELD TOWN
TOOTING & MITCHAM             TOOTING & MITCHAM UNITED
HORDEN C.W                                   HORDEN CW
HORDEN C.W                                   HORDEN CW
FARNBOROUGH TOWN                           FARNBOROUGH
FARNBOROUGH TOWN                           FARNBOROUGH
ADDLESTONE & WEYBRIDGE        ADDLESTONE & WEYBRIDGE T
ST. ALBANS CITY                         ST ALBANS CITY
LEYTONSTONE-ILFORD                  LEYTONSTONE/ILFORD
dtype: object

#### Updating team names in nl_tab

In [193]:
nl_tab.team.replace(to_replace=name_map1.index, value=name_map1.values, inplace=True)

#### Merge test 3

In [194]:
nl_merge3 = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

In [195]:
missing_teams3 = nl_merge3[nl_merge3.pos.isnull()].copy()

mt_plot3 = missing_teams3.year.value_counts().sort_index().reindex()

In [196]:
mt_plot_join['mt_plot3'] = mt_plot3

mt_plot_join.iplot(kind='bar', barmode='overlay', dimensions = (700,400))

In [197]:
%time missing_teams3['match'], missing_teams3['score'] = zip(*missing_teams3.apply(near_match, axis = 1))


# widening fuzzy string match tolerance to above 88
missing_teams3[missing_teams3.score > 88].sort_values('score')

Wall time: 12.7 s

,year,pos,league,team,round,stage,match,score
1306,1955,NaN,NaN,TUNBRIDGE WELLS UNITED,FIRST ROUND PROPER,8,TUNBRIDGE WELLS U,89
1269,1953,NaN,NaN,BEIGHTON MINERS WELFARE,FIRST ROUND PROPER,8,BEIGHTON MINERS W,89
1405,1988,NaN,NaN,V.S. RUGBY,FIRST ROUND PROPER,8,VS RUGBY,89
1296,1955,NaN,NaN,CHELMSFORD CITY,FIRST ROUND PROPER,8,CHELMSFORD C,89
1402,1987,NaN,NaN,V.S. RUGBY,FIRST ROUND PROPER,8,VS RUGBY,89
1399,1986,NaN,NaN,V.S. RUGBY,FIRST ROUND PROPER,8,VS RUGBY,89
1320,1959,NaN,NaN,TOOTING & MITCHAM UNITED,FIRST ROUND PROPER,8,TOOTING & MITCHAM U,89
1366,1973,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1365,1973,NaN,NaN,ALTON TOWN,FIRST ROUND PROPER,8,LUTON TOWN,90
1359,1971,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1357,1970,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1263,1952,NaN,NaN,BILLINGHAM SYNTHONIA,FIRST ROUND PROPER,8,BILLINGHAM,90
1367,1973,NaN,NaN,HAYES & YEADING UNITED,FIRST ROUND PROPER,8,HAYES,90
1351,1968,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1345,1967,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1344,1967,NaN,NaN,FOLKESTONE,FIRST ROUND PROPER,8,FOLKESTONE TOWN,90
1354,1969,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1353,1968,NaN,NaN,TONBRIDGE ANGELS,FIRST ROUND PROPER,8,TONBRIDGE,90
1371,1974,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1341,1966,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1372,1974,NaN,NaN,HAYES & YEADING UNITED,FIRST ROUND PROPER,8,HAYES,90
1376,1976,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1379,1978,NaN,NaN,ARNOLD,FIRST ROUND PROPER,8,ARNOLD FC,90
1388,1981,NaN,NaN,EBBSFLEET UNITED,FIRST ROUND PROPER,8,FLEET,90
1390,1983,NaN,NaN,HOLBEACH UNITED,FIRST ROUND PROPER,8,HOLBEACH,90
1393,1985,NaN,NaN,FISHER,FIRST ROUND PROPER,8,FISHER ATHLETIC,90
1394,1985,NaN,NaN,NEWCASTLE BLUE STAR,FIRST ROUND PROPER,8,BLUE STAR,90
1403,1988,NaN,NaN,HAYES & YEADING UNITED,FIRST ROUND PROPER,8,YEADING,90
1406,1989,NaN,NaN,FISHER,FIRST ROUND PROPER,8,FISHER ATHLETIC,90
1369,1973,NaN,NaN,TONBRIDGE ANGELS,FIRST ROUND PROPER,8,TONBRIDGE,90
1339,1966,NaN,NaN,FOLKESTONE,FIRST ROUND PROPER,8,FOLKESTONE TOWN,90
1335,1965,NaN,NaN,HAYES & YEADING UNITED,FIRST ROUND PROPER,8,HAYES,90
1407,1989,NaN,NaN,HAYES & YEADING UNITED,FIRST ROUND PROPER,8,YEADING,90
1268,1952,NaN,NaN,TONBRIDGE ANGELS,FIRST ROUND PROPER,8,TONBRIDGE,90
1271,1953,NaN,NaN,HEREFORD UNITED,FIRST ROUND PROPER,8,HEREFORD,90
1272,1953,NaN,NaN,KIDDERMINSTER HARRIERS,FIRST ROUND PROPER,8,KIDDERMINSTER,90
1274,1953,NaN,NaN,NETHERFIELD (KENDAL),FIRST ROUND PROPER,8,NETHERFIELD,90
1276,1953,NaN,NaN,TONBRIDGE ANGELS,FIRST ROUND PROPER,8,TONBRIDGE,90
1277,1953,NaN,NaN,WELLINGTON,FIRST ROUND PROPER,8,WELLINGTON TOWN,90
1278,1953,NaN,NaN,YEOVIL TOWN,FIRST ROUND PROPER,8,YEOVIL,90
1280,1954,NaN,NaN,CAMBRIDGE UNITED,FIRST ROUND PROPER,8,CAMBRIDGE UTD,90
1284,1954,NaN,NaN,HASTINGS UNITED,FIRST ROUND PROPER,8,HASTINGS U,90
1286,1954,NaN,NaN,HEREFORD UNITED,FIRST ROUND PROPER,8,HEREFORD U,90
1292,1954,NaN,NaN,WELLINGTON,FIRST ROUND PROPER,8,WELLINGTON TOWN,90
1336,1965,NaN,NaN,NETHERFIELD (KENDAL),FIRST ROUND PROPER,8,NETHERFIELD,90
1295,1955,NaN,NaN,CAMBRIDGE UNITED,FIRST ROUND PROPER,8,CAMBRIDGE UTD,90
1303,1955,NaN,NaN,NETHERFIELD (KENDAL),FIRST ROUND PROPER,8,NETHERFIELD,90
1307,1955,NaN,NaN,WELLINGTON,FIRST ROUND PROPER,8,WELLINGTON TOWN,90
1309,1956,NaN,NaN,NETHERFIELD (KENDAL),FIRST ROUND PROPER,8,NETHERFIELD,90
1311,1957,NaN,NaN,BILLINGHAM SYNTHONIA,FIRST ROUND PROPER,8,BILLINGHAM,90
1315,1958,NaN,NaN,BILLINGHAM SYNTHONIA,FIRST ROUND PROPER,8,BILLINGHAM,90
1316,1958,NaN,NaN,CROOK TOWN,FIRST ROUND PROPER,8,CROOK,90
1321,1961,NaN,NaN,CHICHESTER CITY,FIRST ROUND PROPER,8,CHESTER,90
1323,1962,NaN,NaN,GRANTHAM TOWN,FIRST ROUND PROPER,8,GRANTHAM,90
1327,1963,NaN,NaN,WELLINGTON,FIRST ROUND PROPER,8,SANKEYS (WELLINGTON),90
1330,1964,NaN,NaN,FOLKESTONE,FIRST ROUND PROPER,8,FOLKESTONE TOWN,90
1332,1964,NaN,NaN,NETHERFIELD (KENDAL),FIRST ROUND PROPER,8,NETHERFIELD,90
1299,1955,NaN,NaN,HASTINGS UNITED,FIRST ROUND PROPER,8,HASTINGS U,90
1409,1989,NaN,NaN,NEWPORT COUNTY,FIRST ROUND PROPER,8,NEWPORT,90
1397,1986,NaN,NaN,LEYTON-WINGATE,FIRST ROUND PROPER,8,LEYTON WINGATE,100

Have checked each of the fuzzy matches is a legitmate match (e.g. checked other sources / dates on teams of similar name existing)

The only ones in this list that are not matches properly are LUTON TOWN, FLEET, CHESTER and SANKEYS (WELLINGTON)

In [198]:
no_match = ['LUTON TOWN', 'FLEET', 'CHESTER', 'SANKEYS (WELLINGTON)']

miss_88 = missing_teams3[(missing_teams3.score > 88) & ~(missing_teams3.team.isin(no_match))]

In [199]:
name_map2 = pd.Series(data=miss_88.team.values, index=miss_88.match.values)

name_map2

BILLINGHAM                  BILLINGHAM SYNTHONIA
TONBRIDGE                       TONBRIDGE ANGELS
BEIGHTON MINERS W        BEIGHTON MINERS WELFARE
HEREFORD                         HEREFORD UNITED
KIDDERMINSTER             KIDDERMINSTER HARRIERS
NETHERFIELD                 NETHERFIELD (KENDAL)
TONBRIDGE                       TONBRIDGE ANGELS
WELLINGTON TOWN                       WELLINGTON
YEOVIL                               YEOVIL TOWN
CAMBRIDGE UTD                   CAMBRIDGE UNITED
HASTINGS U                       HASTINGS UNITED
HEREFORD U                       HEREFORD UNITED
WELLINGTON TOWN                       WELLINGTON
CAMBRIDGE UTD                   CAMBRIDGE UNITED
CHELMSFORD C                     CHELMSFORD CITY
HASTINGS U                       HASTINGS UNITED
NETHERFIELD                 NETHERFIELD (KENDAL)
TUNBRIDGE WELLS U         TUNBRIDGE WELLS UNITED
WELLINGTON TOWN                       WELLINGTON
NETHERFIELD                 NETHERFIELD (KENDAL)
BILLINGHAM                  BILLINGHAM SYNTHONIA
BILLINGHAM                  BILLINGHAM SYNTHONIA
CROOK                                 CROOK TOWN
TOOTING & MITCHAM U     TOOTING & MITCHAM UNITED
CHESTER                          CHICHESTER CITY
GRANTHAM                           GRANTHAM TOWN
SANKEYS (WELLINGTON)                  WELLINGTON
FOLKESTONE TOWN                       FOLKESTONE
NETHERFIELD                 NETHERFIELD (KENDAL)
HAYES                     HAYES & YEADING UNITED
NETHERFIELD                 NETHERFIELD (KENDAL)
FOLKESTONE TOWN                       FOLKESTONE
GRANTHAM                           GRANTHAM TOWN
FOLKESTONE TOWN                       FOLKESTONE
GRANTHAM                           GRANTHAM TOWN
GRANTHAM                           GRANTHAM TOWN
TONBRIDGE                       TONBRIDGE ANGELS
GRANTHAM                           GRANTHAM TOWN
GRANTHAM                           GRANTHAM TOWN
GRANTHAM                           GRANTHAM TOWN
LUTON TOWN                            ALTON TOWN
GRANTHAM                           GRANTHAM TOWN
HAYES                     HAYES & YEADING UNITED
TONBRIDGE                       TONBRIDGE ANGELS
GRANTHAM                           GRANTHAM TOWN
HAYES                     HAYES & YEADING UNITED
GRANTHAM                           GRANTHAM TOWN
ARNOLD FC                                 ARNOLD
FLEET                           EBBSFLEET UNITED
HOLBEACH                         HOLBEACH UNITED
FISHER ATHLETIC                           FISHER
BLUE STAR                    NEWCASTLE BLUE STAR
LEYTON WINGATE                    LEYTON-WINGATE
VS RUGBY                              V.S. RUGBY
VS RUGBY                              V.S. RUGBY
YEADING                   HAYES & YEADING UNITED
VS RUGBY                              V.S. RUGBY
FISHER ATHLETIC                           FISHER
YEADING                   HAYES & YEADING UNITED
NEWPORT                           NEWPORT COUNTY
dtype: object

#### Updating team names in nl_tab

In [200]:
nl_tab.team.replace(to_replace=name_map2.index, value=name_map2.values, inplace=True)

#### Merge test 4

In [201]:
nl_merge4 = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

missing_teams4 = nl_merge4[nl_merge4.pos.isnull()].copy()

mt_plot4 = missing_teams4.year.value_counts().sort_index().reindex()

In [202]:
mt_plot_join['mt_plot4'] = mt_plot4

mt_plot_join.iplot(kind='bar', barmode='overlay', dimensions = (700,400))

In [203]:
mt_plot.sum()

188L

In [204]:
mt_plot4.sum()

87L

Through regulariasation and fuzzy string matching with QC have found 100 extra matches :)

Fuzzy matches below a score of 88 were quite erratic so returning multiple potential matches per team with new function

In [205]:
missing_teams4[missing_teams4.year == 1952]

      year  pos league                        team               round  stage
1335  1952  NaN    NaN  BLACKHALL COLLIERY WELFARE  FIRST ROUND PROPER      8
1336  1952  NaN    NaN                  FOLKESTONE  FIRST ROUND PROPER      8
1337  1952  NaN    NaN                MERTHYR TOWN  FIRST ROUND PROPER      8
1338  1952  NaN    NaN            RAWMARSH WELFARE  FIRST ROUND PROPER      8

Creating new string matching function that returns multiple matches

In [206]:
def near_matches(row):
    matches =  process.extract(row['team'], nl_tab[nl_tab.year == row['year']]['team'].values, limit = 3) # only search specific year
    # matches is list of tuples in form [('1st nearest match, 1st nearest match score), (2nd nearest match, 2nd nearest match score)]
    return matches

%time missing_teams4['match1'], missing_teams4['match2'], missing_teams4['match3'] = zip(*missing_teams4.apply(near_matches, axis = 1))

Wall time: 7.22 s

In [207]:
missing_teams4

,year,pos,league,team,round,stage,match1,match2,match3
1335,1952,NaN,NaN,BLACKHALL COLLIERY WELFARE,FIRST ROUND PROPER,8,"(WHITWICK COLLIERY, 86)","(LINBY COLLIERY, 86)","(CRESWELL COLLIERY, 86)"
1336,1952,NaN,NaN,FOLKESTONE,FIRST ROUND PROPER,8,"(GORLESTON, 74)","(LEYTONSTONE, 67)","(LEYTON, 63)"
1337,1952,NaN,NaN,MERTHYR TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(WELLINGBOROUGH TOWN, 86)","(SWINDON TOWN COLTS, 86)"
1338,1952,NaN,NaN,RAWMARSH WELFARE,FIRST ROUND PROPER,8,"(S. NORMANTON WELFARE, 66)","(ALTOFTS WELFARE, 65)","(BENTINCK WELFARE, 58)"
1339,1953,NaN,NaN,GREAT YARMOUTH TOWN,FIRST ROUND PROPER,8,"(HITCHIN TOWN, 86)","(LYE TOWN, 86)","(RUGBY TOWN, 86)"
1340,1953,NaN,NaN,LLANELLI,FIRST ROUND PROPER,8,"(LLANELLY, 88)","(BRIERLEY HILL ALLIANCE, 68)","(CRESWELL COLLIERY, 57)"
1341,1953,NaN,NaN,NEWPORT (IOW),FIRST ROUND PROPER,8,"(LETCHWORTH TOWN, 59)","(LETCHWORTH TOWN, 59)","(NEWBURY TOWN, 58)"
1342,1954,NaN,NaN,BEDFORD TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(BEDFORD T, 86)","(RETFORD TOWN, 83)"
1343,1954,NaN,NaN,FERRYHILL ATHLETIC,FIRST ROUND PROPER,8,"(FERRYHILL ATH, 84)","(CRITTALL ATHLETIC, 74)","(ROTHWELL ATHLETIC, 74)"
1344,1954,NaN,NaN,GREAT YARMOUTH TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(DUDLEY TOWN, 86)","(SUTTON TOWN, 86)"
1345,1954,NaN,NaN,GUILDFORD CITY,FIRST ROUND PROPER,8,"(GUILDFORD C, 88)","(GUILDFORD C, 88)","(HULL CITY, 86)"
1346,1954,NaN,NaN,HEADINGTON UNITED,FIRST ROUND PROPER,8,"(HYDE UNITED, 86)","(HYDE UNITED, 86)","(HEADINGTON U, 86)"
1347,1954,NaN,NaN,HITCHIN TOWN,FIRST ROUND PROPER,8,"(HITCHIN T, 86)","(LYE TOWN, 86)","(WISBECH TOWN, 67)"
1348,1954,NaN,NaN,KETTERING TOWN,FIRST ROUND PROPER,8,"(KETTERING T, 88)","(LYE TOWN, 86)","(BURY TOWN, 86)"
1349,1954,NaN,NaN,LLANELLI,FIRST ROUND PROPER,8,"(LLANELLY, 88)","(BRIERLEY HILL ALLIANCE, 68)","(CRESWELL COLLIERY, 57)"
1350,1954,NaN,NaN,NEWPORT (IOW),FIRST ROUND PROPER,8,"(NEWBURY TOWN, 58)","(BEDWORTH, 57)","(WORTHING, 57)"
1351,1954,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(LONG EATON TOWN, 79)","(SUTTON TOWN, 75)"
1352,1954,NaN,NaN,YEOVIL TOWN,FIRST ROUND PROPER,8,"(MACCLESFIELD TOWN, 86)","(MACCLESFIELD TOWN, 86)","(YEOVIL T, 84)"
1353,1955,NaN,NaN,BEDFORD TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(BEDFORD T, 86)","(WOLVERTON TOWN & B.R, 86)"
1354,1955,NaN,NaN,CRESWELL COLLIERY,FIRST ROUND PROPER,8,"(THORNE COLLIERY, 69)","(DESFORD COLLIERY, 67)","(BENTLEY COLLIERY, 67)"
1355,1955,NaN,NaN,CROOK TOWN,FIRST ROUND PROPER,8,"(ATHERSTONE TOWN, 86)","(MACCLESFIELD TOWN, 86)","(WOLVERTON TOWN & B.R, 86)"
1356,1955,NaN,NaN,HEADINGTON UNITED,FIRST ROUND PROPER,8,"(HYDE UNITED, 86)","(HEADINGTON U, 86)","(HEADINGTON U, 86)"
1357,1955,NaN,NaN,KETTERING TOWN,FIRST ROUND PROPER,8,"(KETTERING T, 88)","(LEEK TOWN, 86)","(LYE TOWN, 86)"
1358,1955,NaN,NaN,MERTHYR TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(MERTHYR T, 86)","(WOLVERTON TOWN & B.R, 86)"
1359,1955,NaN,NaN,NEWPORT (IOW),FIRST ROUND PROPER,8,"(BEDWORTH TOWN, 64)","(LETCHWORTH TOWN, 59)","(NEWBURY TOWN, 58)"
1360,1955,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(WOLVERTON TOWN & B.R, 86)","(TAUNTON TOWN, 80)"
1361,1956,NaN,NaN,EASINGTON CW,FIRST ROUND PROPER,8,"(ASHINGTON, 76)","(WELLINGTON, 69)","(LOCKHEED (LEAMINGTON), 68)"
1362,1956,NaN,NaN,SKEGNESS TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(HEMEL HEMPSTEAD TOWN, 86)","(CHIPPING NORTON TOWN, 86)"
1363,1957,NaN,NaN,ELY CITY,FIRST ROUND PROPER,8,"(CAMBRIDGE CITY, 86)","(STOKE CITY (A), 86)","(CHICHESTER CITY, 86)"
1364,1957,NaN,NaN,ILKESTON TOWN,FIRST ROUND PROPER,8,"(LYE TOWN, 86)","(HEMEL HEMPSTEAD TOWN, 86)","(CHIPPING NORTON TOWN, 86)"
...,...,...,...,...,...,...,...,...,...
1392,1971,NaN,NaN,RINGMER,FIRST ROUND PROPER,8,"(SOHAM TOWN RANGERS, 64)","(TRANMERE ROVERS, 64)","(STAFFORD RANGERS, 64)"
1393,1972,NaN,NaN,ALVECHURCH,FIRST ROUND PROPER,8,"(HORNCHURCH, 60)","(LETCHWORTH TOWN, 54)","(ALTRINCHAM, 50)"
1394,1972,NaN,NaN,FRICKLEY COLLIERY,FIRST ROUND PROPER,8,"(BEDDESLEY COLLIERY, 69)","(FINCHLEY, 68)","(FRICKLEY ATHLETIC, 65)"
1395,1972,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(STONY STRATFORD TOWN, 86)","(LYE TOWN, 86)","(TAUNTON TOWN, 80)"
1396,1972,NaN,NaN,WITNEY UNITED,FIRST ROUND PROPER,8,"(HAYES & YEADING UNITED, 86)","(TOOTING & MITCHAM UNITED, 86)","(WELWYN GARDEN UNITED, 86)"
1397,1973,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHIPPING NORTON TOWN, 86)","(STONY STRATFORD TOWN, 86)","(LYE TOWN, 86)"
1398,1974,NaN,NaN,FRICKLEY COLLIERY,FIRST ROUND PROPER,8,"(FINCHLEY, 68)","(FRICKLEY ATHLETIC, 65)","(LEYTON, 60)"
1399,1974,NaN,NaN,MERTHYR TOWN,FIRST ROUND PROPER,8,"(EASTBOURNE TOWN TOWN, 86)","(SOHAM TOWN RANGERS, 86)","(CHIPPING NORTON TOWN, 86)"
1400,1975,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHIPPING NORTON TOWN, 86)","(STONY STRATFORD TOWN, 86)","(LYE TOWN, 86)"
1401,1975,NaN,NaN,SOUTHWICK,FIRST ROUND PROPER,8,"(SOUTH BANK, 63)","(SOUTH LIVERPOOL, 60)","(NORTHWICH VICTORIA, 60)"
1402,1976,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHIPPING NORTON TOWN, 86)","(LYE TOWN, 86)","(TAUNTON TOWN, 80)"
1403,1977,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHIPPING NORTON TOWN, 86)","(SUTTON COLDFIELD TOWN, 86)","(LYE TOWN, 86)"
1404,1978,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHIPPING NORTON TOWN, 86)","(SUTTON [COLDFIELD] TOWN, 86)","(MEXBOROUGH TOWN ATHLETIC, 86)"
1405,1979,NaN,NaN,EBBSFLEET UNITED,FIRST ROUND PROPER,8,"(TOOTING & MITCHAM UNITED, 86)","(RYE UNITED, 86)","(BOSTON UNITED, 69)"
1406,1979,NaN,NaN,MERTHYR TOWN,FIRST ROUND PROPER,8,"(GREAT YARMOUTH TOWN, 86)","(SOHAM TOWN RANGERS, 86)","(SAFFRON WALDEN TOWN, 86)"
1407,1979,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHIPPING NORTON TOWN, 86)","(SUTTON COLDFIELD TOWN, 86)","(MEXBOROUGH TOWN ATHLETIC, 86)"
1408,1980,NaN,NaN,EBBSFLEET UNITED,FIRST ROUND PROPER,8,"(ASH UNITED, 86)","(TOOTING & MITCHAM UNITED, 86)","(EYE UNITED, 86)"
1409,1980,NaN,NaN,MERTHYR TOWN,FIRST ROUND PROPER,8,"(CASTLE DONINGTON TOWN, 86)","(SOHAM TOWN RANGERS, 86)","(SAFFRON WALDEN TOWN, 86)"
1410,1980,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CASTLE DONINGTON TOWN, 86)","(CHIPPING NORTON TOWN, 86)","(CHESTER-LE-STREET TOWN, 86)"
1411,1980,NaN,NaN,SOLIHULL MOORS,FIRST ROUND PROPER,8,"(SOLIHULL BOROUGH, 73)","(BULL MOTORS, 72)","(MORRIS, 66)"
1412,1982,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHIPPING NORTON TOWN, 86)","(CHESTER LE STREET TOWN, 86)","(WELLINGTON TOWN (DORSET), 86)"
1413,1984,NaN,NaN,GAINSBOROUGH TRINITY,FIRST ROUND PROPER,8,"(GAINSBOROUGH UNITED, 82)","(GAINSBOROUGH TOWN, 81)","(GAINSBOROUGH TOWN, 81)"
1414,1985,NaN,NaN,BARRY TOWN,FIRST ROUND PROPER,8,"(SHERBOURNE TOWN, 86)","(GILLINGHAM TOWN, 86)","(GILLINGHAM TOWN, 86)"
1415,1985,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(FAREHAM TOWN (RESERVES), 86)","(HARBOROUGH TOWN IMPERIAL, 86)","(MEXBOROUGH TOWN ATHLETIC, 86)"
1416,1985,NaN,NaN,TELFORD UNITED,FIRST ROUND PROPER,8,"(TELFORD UTD, 88)","(FORD UNITED, 88)","(FORD UNITED, 88)"
1417,1986,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHESTER-LE-STREET TOWN, 86)","(SUTTON COLDFIELD TOWN, 86)","(BISHOPS WALTHAM TOWN, 86)"
1418,1987,NaN,NaN,NUNEATON TOWN,FIRST ROUND PROPER,8,"(CHESTER-LE-STREET TOWN, 86)","(SUTTON COLDFIELD TOWN, 86)","(ASHFORD TOWN (MIDDLESEX), 86)"
1419,1987,NaN,NaN,TON PENTRE,FIRST ROUND PROPER,8,"(NORTHAMPTON SPENCER, 72)","(THRAPSTON VENTURERS, 72)","(HENLEY TOWN, 64)"
1420,1988,NaN,NaN,MERTHYR TOWN,FIRST ROUND PROPER,8,"(WYM TOWN, 86)","(GREAT YARMOUTH TOWN, 86)","(SOHAM TOWN RANGERS, 86)"
1421,1989,NaN,NaN,MERTHYR TOWN,FIRST ROUND PROPER,8,"(TOWN HALL GREAT YARMOUTH, 86)","(SAWBRIDGEWORTH TOWN, 86)","(WOOTTON BASSETT TOWN, 86)"

There appears to be a lot of team names truncated to T where T = Town, C where C = City, U where U = United and Ath = Athletic

Will check if there are any current matches we need to preserve and update the rest

In [232]:
nl_merge4[nl_merge4.team.str.contains(' T$', regex=True)]

,year,pos,league,team,round,stage
1044,1981,9,SOUTHERN LEAGUE DIVISION 1 SOUTH,ADDLESTONE & WEYBRIDGE T,FIRST ROUND PROPER,8

#### Checking and updating 'T'  teams

In [234]:
mask_T = ~((nl_tab.year == 1981) & (nl_tab.team == 'ADDLESTONE & WEYBRIDGE T'))

In [235]:
mask_T.value_counts()

True     30572
False        1
dtype: int64

In [236]:
nl_tab.ix[mask_T, 'team'] = nl_tab[mask_T].team.str.replace(' T$',' TOWN')

#### Checking and updating 'U'  teams

In [237]:
nl_merge4[nl_merge4.team.str.contains(' U$', regex=True)]

Empty DataFrame
Columns: [year, pos, league, team, round, stage]
Index: []

In [239]:
nl_tab['team'] = nl_tab['team'].str.replace(' U$',' UNITED')

#### Checking and updating 'C'  teams

In [240]:
nl_merge4[nl_merge4.team.str.contains(' C$', regex=True)]

Empty DataFrame
Columns: [year, pos, league, team, round, stage]
Index: []

In [241]:
nl_tab['team'] = nl_tab['team'].str.replace(' C$',' CITY')

#### Checking and updating 'ATH'  teams

In [246]:
nl_merge4[nl_merge4.team.str.contains(' ATH$', regex=True)]

Empty DataFrame
Columns: [year, pos, league, team, round, stage]
Index: []

In [247]:
nl_tab['team'] = nl_tab['team'].str.replace(' ATH$',' ATHLETIC')

#### Merge test 5

In [248]:
nl_merge5 = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

missing_teams5 = nl_merge5[nl_merge5.pos.isnull()].copy()

mt_plot5 = missing_teams5.year.value_counts().sort_index().reindex()

In [249]:
mt_plot_join['mt_plot5'] = mt_plot5

mt_plot_join.iplot(kind='bar', barmode='overlay', dimensions = (700,400))

In [252]:
%time missing_teams5['match1'], missing_teams5['match2'], missing_teams5['match3'] = zip(*missing_teams5.apply(near_matches, axis = 1))

Wall time: 6.02 s

Now exporting at finding and filling missing teams individually

In [254]:
missing_teams5.to_csv('missing_teams_1952-89_v1.csv', index = False)

All missing teams manually researched and updated (apart from RAWMARSH WELFARE, 1952. This will be added when found)

In [259]:
nl_tab_aux = pd.read_csv('missing_teams_1952-89_v2.csv')[['year', 'pos', 'league', 'team']]

nl_tab_aux.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 74
Data columns (total 4 columns):
year      75 non-null int64
pos       74 non-null float64
league    74 non-null object
team      75 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 2.9+ KB

In [260]:
nl_tab = pd.concat([nl_tab, nl_tab_aux])

#### Merge test 6

In [261]:
nl_merge6 = pd.merge(nl_tab, nl_fac, how='right', on=['team', 'year'])

missing_teams6 = nl_merge6[nl_merge6.pos.isnull()].copy()

mt_plot6 = missing_teams6.year.value_counts().sort_index().reindex()

In [262]:
mt_plot_join['mt_plot6'] = mt_plot6

mt_plot_join.iplot(kind='bar', barmode='overlay', dimensions = (700,400))

Now looking at teams that have multiple matches and keeping the correct one 

Teams will be kept preferentially from 'higher' leagues, that is NORTHERN, SOUTHERN, ISTHMIAN, CONFERENCE etc whilst the  duplicate team in a 'regional' league will be the reserve team not elligible for the FA Cup

In [279]:
dupe_match = nl_merge6.groupby(['year', 'team']).filter(lambda x: len(x) > 1)

dupe_match.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 2 to 1346
Data columns (total 6 columns):
year      413 non-null int64
pos       413 non-null float64
league    413 non-null object
team      413 non-null object
round     413 non-null object
stage     413 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 22.6+ KB

In [282]:
dupe_match.to_csv('dupe_match_1952-89_v1.csv', index = False)

In [291]:
de_duped = pd.read_csv('dupe_match_1952-89_v2.csv')

In [292]:
de_duped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 202
Data columns (total 6 columns):
year      203 non-null int64
pos       203 non-null int64
league    203 non-null object
team      203 non-null object
round     203 non-null object
stage     203 non-null int64
dtypes: int64(3), object(3)
memory usage: 11.1+ KB

In [287]:
no_dupe = nl_merge6.groupby(['year', 'team']).filter(lambda x: len(x) == 1)

In [288]:
no_dupe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1013 entries, 0 to 1425
Data columns (total 6 columns):
year      1013 non-null int64
pos       1012 non-null float64
league    1012 non-null object
team      1013 non-null object
round     1013 non-null object
stage     1013 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 55.4+ KB

In [293]:
de_duped.groupby(['year', 'team']).filter(lambda x: len(x) > 1)  #checking no duplicates were missed

Empty DataFrame
Columns: [year, pos, league, team, round, stage]
Index: []

In [294]:
fin_1952_89 = pd.concat([no_dupe, de_duped])

In [295]:
fin_1952_89.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1216 entries, 0 to 202
Data columns (total 6 columns):
year      1216 non-null int64
pos       1215 non-null float64
league    1215 non-null object
team      1216 non-null object
round     1216 non-null object
stage     1216 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 66.5+ KB

#### Final save of non-league 1952-89 merge

In [298]:
fin_1952_89.to_csv(r'C:\Users\David\Python\scrapy\facup\01_league_tables\nonleague_1952-89_v4.csv', index=False)